.navbar {
  border-bottom: 1px solid #e6e5e5;
}

.content {
  max-width: 960px;
  margin: auto;
}

#main-view {
  margin-top: 100px;
  margin-bottom: 100px;
}

textarea.textinput {
  margin-bottom: 5px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.lp-input input[type="text"] {
  max-width: 65px;
}