#if ($game)
<div class="game-panel" data-game-id="${game.getID()}" data-tournament-id="${game.getTournament().getId()}">
  <div style="float:right">
    <a title="Copies an ascii table that can be pasted straight into discord." href="#game-${game.getID()}" class="game-copy"><i class="fas fa-copy"></i></a>
    #if(!$live)
    <a title="Shuffles players around in this game." href="#game-${game.getID()}" class="game-refresh"><i class="fas fa-redo"></i></a>
    #end
  </div>
  <div class="container">
    <h5 id="game-${game.getID()}">Game ${game.getID()}</h5>
    #foreach ($role in ${game.getRoles()})
        #foreach ($pair in $game.getPlayerPair($role))
        <div class="row">
          <div class="col-sm">
            <strong>$role</strong>
          </div>
          <div class="col-sm" style="background-color:${pair.getLeft().getColour($role)}">
             ${pair.getLeft().name} ${game.getDetails($pair.getLeft(), $role)}
             #if($live && !${game.hasWinner()})
             <div style="float: right">
               <input class="form-check-input" type="radio" name="game-${game.getID()}-blue-mvp" id="game-${game.getID()}-blue-mvp-$role" value="${pair.getLeft().summonerId}" required>
             </div>
             #end
             #if ($game.isWinner("blue"))
              <span class="badge badge-light">WIN</span>
             #end
             #if ($game.isMvp($pair.getLeft().summonerId))
              <span class="badge badge-dark">MVP</span>
             #end
          </div>
          
          
          <div class="col-sm" style="background-color:${pair.getRight().getColour($role)}" data-placement="top" data-toggle="tooltip" title="Disabled tooltip">
             ${pair.getRight().name} ${game.getDetails($pair.getRight(), $role)}
             #if($live && !${game.hasWinner()})
             <div style="float: right">
               <input class="form-check-input" type="radio" name="game-${game.getID()}-red-mvp" id="game-${game.getID()}-red-mvp-$role" value="${pair.getRight().summonerId}" required>
            </div>
            #end
            #if ($game.isWinner("red"))
              <span class="badge badge-light">WIN</span>
            #end
            #if ($game.isMvp($pair.getRight().summonerId))
              <span class="badge badge-dark">MVP</span>
            #end
          </div>
        </div>
      #end
    #end
    <div class="row">
      <div class="col-sm">
        <strong>ELO</strong>
      </div>
      <div class="col-sm">
        ${game.getBlueTeam().getElo()}
      </div>
      <div class="col-sm">
        ${game.getRedTeam().getElo()}
      </div>
    </div>
  </div>
  
  #if($live && !${game.hasWinner()})
     <center class="form-group">
        <div class="row btn-group btn-group-toggle" data-toggle="buttons" >
        <label class="btn btn-sm btn-secondary">
          <input type="radio" name="game-${game.getID()}-winner" id="game-${game.getID()}-winner-blue" autocomplete="off" value="blue" required> Blue
        </label>
        <label class="btn btn-sm btn-secondary">
          <input type="radio" name="game-${game.getID()}-winner" id="game-${game.getID()}-winner-red" autocomplete="off" value="red" required> Red
        </label>
      </div>
    </center>
  #end
  <hr>
</div>
#else
<div>
<strong>Unable to load game</strong>
<hr>
</div>
#end
