#parse( "/templates/header.vm" )

<h2>Leaderboard</h2>
<hr>
<h4>Leaderboard</h4>
<table id="leaderboard" class="col-md-7 table-striped" data-tournament-id=${tournament.getId()}>
  <thead>
    <th>IGN Name</th>
    <th>Wins</th>
    <th>MVPS</th>
    <th>Points</th>
  </thead>
  <tbody>
  </tbody>
</table>
<hr>
#parse( "/templates/footer.vm" )